<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=800px, initial-scale=1.0">
    <title>Document</title>
    <script src="https://fr.vuejs.org/js/vue.js"></script>  
    <link rel="stylesheet" href="vue-simple.css">
</head>
<body>
    <div id="app">
        <div>
            <h1>{{title}}</h1>
            <button class="reload" v-on:click="loadContacts()"> Charger les contacts </button>
            <button class="reload" v-on:click="saveContacts()"> Sauvegarder les contacts </button>
        </div>
        <table id="list">
            <tr v-for="item in contactList" :key="item.id">
                <td>{{item.id}} </td>
                <td>{{item.prenom}} </td>
                <td>{{item.nom}}</td>
                <td><button class="danger" v-on:click="deleteContact(item)">Supprimer</button></td>
            </tr>
        </table>

        <fieldset>
            <div class="message">{{message}}</div>
            <label>Prénom</label>
            <input v-model=inputContact.prenom></input>
            <label>Nom</label>
            <input v-model=inputContact.nom> </input>
            <button class="add" v-on:click="addToList()"> Ajouter un contact </button>
        </fieldset>
    </div>


    <script src="vue-simple.js"></script>
   </body>
</html>
